@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts.css";
@import "./theme.css";
@import "tailwind-super-corners";

@custom-variant dark (&:is(.dark *));

@custom-variant icon-only (&:is(
		[data-content-type="icon-only"],
		:has([data-content-type="icon-only"])
	));
@custom-variant with-icon (&:is(
		[data-content-type="with-icon"],
		:has([data-content-type="with-icon"])
	));

@layer base {
	* {
		@apply border-base-7 outline-base-a8;
	}

	html {
		@apply text-base;
	}

	body {
		@apply bg-base-1 text-base-12 antialiased font-sans;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@utility padding-mask {
	mask:
		linear-gradient(black, black) content-box,
		linear-gradient(black, black);
	mask-composite: exclude;
}

@layer utilities {
	@property --angle {
		initial-value: 180deg;
		inherits: true;
		syntax: "<angle>";
	}
	@property --color {
		initial-value: white;
		inherits: true;
		syntax: "<color>";
	}
}

/* Animations */
@theme {
	@keyframes skeleton {
		to {
			background-position: -200% 0;
		}
	}

	/* Apple Photos-style zoom effect keyframes */
	@keyframes scale-fade-out {
		to {
			opacity: 0;
			transform: scale(0.9);
			filter: blur(14px);
		}
	}

	@keyframes scale-fade-in {
		from {
			opacity: 0;
			transform: scale(0.9);
			filter: blur(14px);
		}
	}

	@keyframes rotate-shadow {
		from {
			--angle: 0deg;
		}
		to {
			--angle: 360deg;
		}
	}
}
